CFBundleDevelopmentRegion
        English
        CFBundleExecutable
        YAJL
        CFBundleIdentifier
        com.appcelerator.YAJL
        CFBundleInfoDictionaryVersion
        6.0
        CFBundlePackageType
        FMWK
        CFBundleSignature
        ????
        CFBundleVersion
        1.0
